{% extends "base.html" %}

{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="container">
		<h1>Login</h1>

        <form method="POST" action="{{ url_for('login') }}" novalidate>
			{{ form.csrf_token }}
			<span style="margin=20px">
				{{ form.email.label }} <br> {{ form.email(size=30) }}
			</span>

			{% for err in form.email.errors %}
			<span style="color:red">{{ err }}</span>
			{% endfor %}

			<br>

          	<span>
				{{ form.password.label }} <br> {{ form.password(size=30) }}
			</span>

			{% for err in form.password.errors %}
			<span style="color:red">{{ err }}</span>
			{% endfor %}

			<br>

			{{ form.submit }}
        </form>
	</div>
{% endblock %}